<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <style>
  .buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:40px;
    border-width:1px;
    color:#fff;
    border-color:#d02718;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    text-shadow:inset 0px 1px 0px #810e05;
    background:linear-gradient(#f24537, #c62d1f);
  }

  .buttonClass:hover {
    background: linear-gradient(#c62d1f, #f24537);
    text-decoration: none;
  }
  </style>
</html>
